@import "owl.carousel/src/scss/owl.carousel";


// Prevent jumping until js is ready:
.owl-carousel.single:not(.owl-loaded) {
  display: block;

  > *:not(:first-child) {
    display: none;
  }
}


.owl-carousel.show-progress {
  .owl-item.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 0;
    height: 5px;
    background: gray;
    animation: carousel-progress 5s linear forwards;
  }
}

@keyframes carousel-progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
