@import "owl.carousel/src/scss/owl.carousel";

$nav-margin: rem(5px) !default;

@keyframes slider-dot-progress {
  from {
    width: 0;
    opacity: 0.5;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

.owl-carousel.has-dots-progress {
  position: relative;

  .owl-nav {
    position: absolute;
    top: $nav-margin;
    right: $nav-margin;
    margin-top: 0;
  }

  .owl-dots {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;

    .owl-dot {
      display: block;
      flex-basis: 0;
      flex-grow: 1;
      order: 2;

      span {
        width: 100%;
        margin: 0;
        border-radius: 0;
      }
    }

    .owl-dot.active ~ .owl-dot {
      span {
        width: 0;
      }
    }

    .owl-dot.active + .owl-dot {
      span {
        opacity: 0.5;
        animation: slider-dot-progress 5s linear forwards;
      }
    }

    .owl-dot.active:last-child {
      order: 1;

      span {
        display: none;
      }

      &::after {
        display: block;
        content: "";
        width: 100%;
        height: 100%;
        opacity: 0.5;
        animation: slider-dot-progress 5s linear forwards;
      }
    }
  }
}
